#canvasStuff{
  position: relative;
}
#myCanvas{
  border: 3px solid black;
}
#predictor,#clear,#submitData{
  background-color: lightgrey;
  border:none;
  border-bottom: black solid 1px;
  width: 100px;
  height:40px;
  font-family: 'Courgette', cursive;
}
#digit{
  height:40px;
  width:70px;
  text-align: center;
  display:block;
  border: 2px solid black;
  font-family: 'Courgette', cursive;
}
#prediction{
  display:none;
  font-family:cursive;
}
#info{
  position: absolute;
  z-index: 2;
  font-family: 'Courgette', cursive;
}
#submitDataBlock{
  font-family: 'Courgette', cursive;
}
